*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    background-color: rgb(232, 232, 232);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#contact-team-wrapper{
    width: 500px;
    height: 400px;
    background-color: rgb(81, 81, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

#contact-team-wrapper p{
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 20px;
}

#contact-team{
    display: grid;
    grid-template-rows: 40px 40px 20px 40px;
    grid-template-columns: 190px 190px;
    gap: 10px;
}

#contact-team .full{
    grid-column: 1 / 3;
}
