*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    height: 100vh;
}

form{
    display: grid;
}

input[type='submit']{
    cursor: pointer;
}

.background{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mockup1 */
.contact-team-bg{
    background-color: rgb(232, 232, 232);
}

.contact-team-wrapper{
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #162AE3;
    color: #ffffff;
}

.contact-team-wrapper p{
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 20px;
}

#contact-team{
    /* display: grid; */
    grid-template-rows: 40px 40px 20px 40px;
    grid-template-columns: 190px 190px;
    gap: 10px;
}

#contact-team input{
    border-radius: 5px;
    border: none;
    padding: 0 15px;
}

#contact-team .full{
    grid-column: 1 / 3;
}

#contact-team input:last-child{
    background-color: #ffffff;
    color: #162AE3;
    font-weight: 700;
    width: 60%;
    font-size: 15px;
}

/* Mockup2 */
.contact-us-wrapper{
    background-color: #AED3CF;
}

#contact-us-box{
    font-family: "Montserrat", sans-serif;
    background-color: #F2EDE6;
    width: 960px;
    height: 540px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 70px;
    gap: 10px;
    color: #00054B;
}

#contact-us-box > img{
    width: 275px;
    height: 420px;
    object-fit: cover;
    margin-right: 60px;
}

.content-box{
    display: flex;
    flex-wrap: wrap;
}

.content-box h1{
    flex-basis: 100%;
    font-family: "Playfair Display", serif;
    font-weight: 100;
    font-size: 57px;
    margin-bottom: 30px;
}

.content-box form,
.content-box > div{
    width: 50%;
}

.content-box form{
    grid-auto-flow: row;
    grid-auto-rows: 60px;
    gap: 10px;
}

.content-box input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #00054B;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.content-box form input:last-child{
    height: 40px;
    width: 70%;
    align-self: center;
    justify-self: center;
    background-color: #00054B;
    color: #ffffff;
    border-radius: 70px;
    font-size: 13px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    text-align: right;
}

.contact-info h2{
    font-size: 17px;
    margin-bottom: 8px;
}

.contact-info p{
    font-weight: 300;
    font-size: 15px;
}

.icons{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: auto;
}

.icons img{
    width: 20px;
}

/* Mockup3 */
.book-app-wrapper{
    background-color: rgb(224, 224, 224);
}

#book-app-box{
    background-color: #ffffff;
    width: 886px;
    height: 598px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.name{
    grid-area: name;
}

.date{
    grid-area: date;
}

.email{
    grid-area: email;
}

.message{
    grid-area: message;
}

.number{
    grid-area: number;
}

.button{
    grid-area: button;
}

#book-app-box form{
    padding-top: 50px;
    grid-template-areas: 
    "name date"
    "email message"
    "number message"
    ". button"
    ;
    grid-template-columns: 380px 380px;
    grid-template-rows: 80px 80px 80px 80px;
    gap: 20px;
}

#book-app-box form > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#book-app-box form label{
    height: 30px;
}

#book-app-box form input,
#book-app-box form select{
    flex: 1;
    border: none;
    background-color: #F6F9FF;
    border-radius: 7px;
    padding: 0 15px;
}

#b-number{
    flex: 1;
}

#b-number select,
#b-number input{
    height: 100%;
}

#book-app-box form #b-number select{
    width: 20%;
    border-radius: 7px 0 0 7px;
}

#book-app-box form #b-number input{
    width: 80%;
    border-radius: 0 7px 7px 0;
}

.button{
    align-items: flex-end;
    justify-content: flex-end;
}

#book-app-box .button input{
    width: 50%;
    flex: 0.5;
    background-color: #3B82F6;
    color: #ffffff;
    font-size: 18px;
}

/* Mockup4 */
.job-app-wrapper{
    background-color: #F5F5F5;
}

#job-app-box{
    width: 800px;
    height: 590px;
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #EDDEDE;
    border-radius: 20px;
}

#job-app-box h1{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}

#job-app-box form{
    grid-template-columns: 350px 350px;
    grid-template-rows: repeat(7, 1fr); /* 4행을 동일 비율로 나눔 */
    height: 480px;
    gap: 10px;
    grid-template-areas: 
    "first-name last-name"
    "email role"
    "address address"
    "address address"
    "city pincode"
    "date file"
    ". button"
    ;
}

.first-name{
    grid-area: first-name;
}
.last-name{
    grid-area: last-name;
}
.role{
    grid-area: role;
}
.address{
    grid-area: address;
}
.city{
    grid-area: city;
}
.pincode{
    grid-area: pincode;
}
.date{
    grid-area: date;
}
.file{
    grid-area: file;
}

#job-app-box form > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#job-app-box form > div input,
#job-app-box form > div select{
    width: 100%;
    border: 1px solid #D2D2D2;
    border-radius: 5px;
    padding: 2px 15px;
}

#job-app-box form label{
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    font-weight: 100;
}

#job-app-box form input,
#job-app-box form select{
    flex: 1;
}

#job-app-box .button input{
    width: 70%;
    height: 80%;
    flex: none;
    background-color: #1B52DF;
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
}