*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    height: 100vh;
}

form{
    display: grid;
}

.background{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mockup1 */
.contact-team-bg{
    background-color: rgb(232, 232, 232);
}

.contact-team-wrapper{
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(81, 81, 255);
    color: #ffffff;
}

.contact-team-wrapper p{
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 20px;
}

#contact-team{
    /* display: grid; */
    grid-template-rows: 40px 40px 20px 40px;
    grid-template-columns: 190px 190px;
    gap: 10px;
}

#contact-team .full{
    grid-column: 1 / 3;
}

/* Mockup2 */
.contact-us-wrapper{
    background-color: #AED3CF;
}

#contact-us-box{
    font-family: "Montserrat", sans-serif;
    background-color: #F2EDE6;
    width: 960px;
    height: 540px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 70px;
    gap: 10px;
    color: #00054B;
}

#contact-us-box > img{
    width: 275px;
    height: 420px;
    object-fit: cover;
    margin-right: 60px;
}

.content-box{
    display: flex;
    flex-wrap: wrap;
}

.content-box h1{
    flex-basis: 100%;
    font-family: "Playfair Display", serif;
    font-weight: 100;
    font-size: 57px;
    margin-bottom: 30px;
}

.content-box form,
.content-box > div{
    width: 50%;
}

.content-box form{
    /* display: grid; */
    grid-auto-flow: row;
    grid-auto-rows: 60px;
    gap: 10px;
}

.content-box input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #00054B;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.content-box form input:last-child{
    height: 40px;
    width: 70%;
    align-self: center;
    justify-self: center;
    background-color: #00054B;
    color: #ffffff;
    border-radius: 70px;
    font-size: 13px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    text-align: right;
}

.contact-info h2{
    font-size: 17px;
    margin-bottom: 8px;
}

.contact-info p{
    font-weight: 300;
    font-size: 15px;
}

.icons{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: auto;
}

.icons img{
    width: 20px;
}

/* Mockup3 */
.book-app-wrapper{
    background-color: rgb(224, 224, 224);
}

#book-app-box{
    background-color: #ffffff;
    width: 886px;
    height: 598px;
    padding: 50px;
}

.name{
    grid-area: name;
}

.date{
    grid-area: date;
}

.email{
    grid-area: email;
}

.message{
    grid-area: message;
}

.number{
    grid-area: number;
}

.button{
    grid-area: button;
}

#book-app-box form{
    padding-top: 50px;
    grid-template-areas: 
    "name date"
    "email message"
    "number message"
    ". button"
    ;
    grid-template-columns: 380px 380px;
    grid-template-rows: 80px 80px 80px 80px;
    gap: 20px;
}

#book-app-box form > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#book-app-box form label{
    height: 30px;
}

#book-app-box form input,
#book-app-box form select{
    flex: 1;
}

#b-number{
    flex: 1;
}

#b-number select,
#b-number input{
    height: 100%;
}

#b-number select{
    width: 20%;
}

#b-number input{
    width: 80%;
}

.button{
    align-items: flex-end;
    justify-content: flex-end;
}

.button input{
    width: 50%;
    flex: 0.5 !important;
}